:root {
  --fondoPagina: #dbdddd;
  --fondoSecundario: #1a0749a6;
  --button1: #30cfd0a6;
  --button2: #27084da6;
  --colorLetter1: #f3f1f0;
  --colorLetter2: #000000;
  --fondoImage: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

body {
  background-image: var(--fondoImage) !important;
}

#body {
  font-family: sans-serif;
  width: 100%;
  min-height: 100vh;
}

.btn {
  border: 0px !important;
}

footer {
  background-color: var(--fondoSecundario);
}

hr {
  background-color: var(--colorLetter1);
  height: 2px;
  border-radius: 5px;
}

span.red {
  color: #ff0000 !important;
}

@media (max-width: 1000px) {
  .navbar-toggler {
    font-size: 200% !important;
  }

  .navbar-brand {
    font-size: 200% !important;
  }
}
