:root {
  --fondoPagina: #dbdddd;
  --fondoSecundario: #1a0749a6;
  --button1: #30cfd0;
  --button2: #27084da6;
  --colorLetter1: #f3f1f0;
  --colorLetter2: #000000;
  --fondoImage: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

#body {
  background-image: var(--fondoImage) !important;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

form {
  background-color: var(--fondoSecundario);
  border-radius: 10px;
  width: 450px;
  color: var(--colorLetter1);
}

h1 {
  color: var(--colorLetter1);
  text-align: center;
}

.row {
  margin-bottom: 10px;
}

div > .btn {
  background-color: var(--button2);
  border-color: var(--button2);
  color: var(--colorLetter1);
  margin-top: 10px;
  width: 100%;
}

div > .btn:hover {
  background-color: var(--button1);
  border-color: var(--button1);
  color: var(--colorLetter2);
}

hr {
  background-color: var(--colorLetter1);
  height: 2px;
  border-radius: 5px;
}

.vCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

label > span {
  color: #ff0000 !important;
}

select {
  height: 52px !important;
}

@media (max-width: 1200px) {
  form {
    width: 80%;
  }

  h1 {
    font-size: 48px !important;
  }

  label {
    font-size: 200%;
  }

  input {
    height: 64px !important;
    margin: 2px;
  }

  input[type="text"] {
    font-size: 150%;
  }

  input[type="email"] {
    font-size: 150%;
  }

  input[type="password"] {
    font-size: 150%;
  }

  div > .btn {
    font-size: 175%;
  }

  div.alert {
    font-size: 200%;
  }
}
