.card {
  background-color: #ffffff00 !important;
  border: none !important;
}

div > .card-body {
  background-color: var(--fondoSecundario);
  color: var(--colorLetter1);
}

div > .card-footer {
  background-color: var(--fondoPagina);
  color: var(--colorLetter1);
}

img.principal {
  max-width: 250px;
  height: 250px;
  display: block;
  margin: auto;
}

img.principal-carousel {
  max-width: 350px;
  height: 350px;
  display: block;
  margin: auto;
}

div > .btn {
  background-color: var(--button2);
  border-color: var(--button2);
  color: var(--colorLetter1);
}

div > .btn:hover {
  background-color: var(--button1);
  border-color: var(--button1);
  color: var(--colorLetter2);
}

div > .btn-ajustado {
  width: 49%;
}

img.imgSmall {
  width: 25px;
  height: 25px;
}

div.divImgExist {
  height: 200px;
}

img.imgExist {
  max-width: 90%;
  height: 100%;
}

a.correo {
  font-size: 16px;
}

span.etiqueta {
  color: #30cfd0;
  text-decoration: underline #30cfd0;
  margin-right: 2px;
  margin-left: 2px;
}

form {
  background-color: var(--fondoSecundario);
  border-radius: 10px;
  color: var(--colorLetter1);
}

@media (max-width: 1000px) {
  h5 {
    font-size: 200% !important;
  }

  div > .btn {
    margin-top: 10px;
    font-size: 150% !important;
    width: 100%;
  }

  p {
    font-size: 175% !important;
  }

  .card-footer {
    font-size: 150%;
  }

  img.imgSmall {
    display: none;
  }

  a.correo {
    font-size: 18px;
  }
}
