{% extends 'base.html.twig' %}

{% block body %}
<div id="body">
    <div class="container-fluid">
    {% if publicaciones is defined%}
        {% for publicacion in publicaciones %}
            <div class="col-12">{{ publicacion.fechaPublicacion|format_datetime() }} {{ publicacion.nombrePublicacion }}</div>
        {% endfor %}
    {% endif %}
    </div>
</div>
{% endblock %}
