{% block body %}
        <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">

            <a href="" class="navbar-brand titulo">Monshop
            </a>

            <button class="navbar-toggler" data-toggle="collapse" data-target="#fm-menu" aria-controls="fm-menu"
                aria-expanded="false" aria-label="Menu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="fm-menu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <button type="button" class="btn btn-nav w-100"><a href="#" class="nav-link navbar-brand">
                                <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                                <span class="span-nav">&nbsp;&nbsp;&nbsp;Inicio</span>
                            </a></button>
                    </li>
                    <li class="nav-item active">
                        <button type="button" class="btn btn-nav w-100"><a href="#" class="nav-link navbar-brand"><i
                                    class="fa fa-user fa-2x" aria-hidden="true"></i><span
                                    class="span-nav">&nbsp;&nbsp;&nbsp;Perfil</span></a></button>
                    </li>
                    <li class="nav-item active">
                        <button type="button" class="btn btn-nav w-100" title="Chats"><a href="#"
                                class="nav-link navbar-brand"><i class="fa fa-weixin fa-2x" aria-hidden="true"></i><span
                                    class="span-nav">&nbsp;&nbsp;&nbsp;Chats</span></a></button>
                    </li>
                    <li class="nav-item active">
                        <button type="button" class="btn btn-nav w-100"><a href="#" class="nav-link navbar-brand"><i
                                    class="fa fa-history fa-2x" aria-hidden="true"></i><span
                                    class="span-nav">&nbsp;&nbsp;&nbsp;Historial</span></a></button>
                    </li>
                    <li class="nav-item active">
                        <button type="button" class="btn btn-nav w-100"><a href="#" class="nav-link navbar-brand"><i
                                    class="fa fa-cog fa-2x" aria-hidden="true"></i><span
                                    class="span-nav">&nbsp;&nbsp;&nbsp;Ajustes</span></a></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block javascript %}
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
{% endblock %}