{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/perfil.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
<div id="body">
    <div class="container-fluid">
        
    </div>
</div>
{% endblock %}

